html,body {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
ul {
	list-style: none;
}





/*
*======================== header
*/
header {
	background: transparent;
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	z-index: 99;
}
.nav-offset {
	flex: 1;
	height: 3.3em;
}
.headOfContacts {
	margin: 1em;
}
.top-nav {
	flex: 6;
	position: relative;
}
.navLevel1 {
	display: flex;
	flex-direction: row;
	padding-left: 0;
}
.navLevel1>li {
	background-color: rgba(38,38,38,.9);
}
.top-nav a { 
	display: block;
	width: 13em;
	height: 3.3em;
	letter-spacing: 1px;
	line-height: 3.3em;
	text-decoration: none;
	color: #363636;
	text-align: center;
}
.liLevel1 {
	width: 13em;
	height: 3.3em;
}
.liLevel1>a {
	color: #e6e6e6;
}
.liLevel1:nth-of-type(1) {
	border-radius: 1.7em 0 0 1.7em;
	position: relative;
}
.liLevel1:nth-of-type(4) {
	border-radius: 0 1.7em 1.7em 0;
}
.liLevel2 {
	width: 13em;
	height: 2.2em;
	padding-left: .6em;
}
li.liLevel2 > a {
	display: block;
	color: #e6e6e6;
	height: 2em;
	width: 13em;
	line-height: 2.2em;
	text-align: left;
}
.navLevel1 {
	border-radius: 1.6em;
	position: absolute;
	top: 0;
	left: 12.5em;
	visibility: hidden;
}
.navLevel2 {
	background-color: rgba(38,38,38,.9);
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 2.8em;
	left: 1.6em;
	position: absolute;
	top: 3em;
	left: 1.6em;
	padding-left: 0;
	display: none;
}
.liLevel1Hover:hover .navLevel2 {
	box-shadow: 0px 0px 15px #fff;
	display: flex;
	flex-direction: column;
}
nav:hover .headOfContacts>a{
	cursor: pointer;
	font-weight: bold;
}
nav:hover .headOfContacts>.navLevel1 {
	visibility: visible;
}
.liLevel1:hover>a,
.liLevel2:hover>a {
	text-decoration: underline;
}





/*
* ====================== aside section
*/
aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1;
	height: 100vh;
}
aside p:first-child {
	font-family: Impact, Georgia, Verdana, sans-serif;
	font-size: 1.4em;
	padding-top: .2em;
	padding-left: 1em;
	letter-spacing: 2px;
}
aside h1 {
	font-family: Monaco, "Helvetica Neue", "URW Chancery L", fantasy;
	font-size: 3.6em;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.3);
}
aside h1>a {
	text-decoration: none;
	color: #000;
}
aside p:last-child {
	color: #808080;
	padding-left: .5em;
}
.title-name,
.logo-name {
	position: relative;
}
.title-name-anim,
.logo-anim {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
.title-name-anim {
	animation: titleAnimation 4.5s ease;
	-webkit-animation: titleAnimation 4.5s ease;
}
.logo-anim {
	animation: logoanim 3.8s ease;
	-webkit-animation: logoanim 3.8s ease;
}
@keyframes titleAnimation {
	from {background-color: #fff;}
	to {background-color: transparent;}
}
/*@keyframes titleAnimation {
	from {color: #fff;}
	to {color: #363636;}
}*/
@keyframes logoanim {
	from {
	background-image: -webkit-linear-gradient(10deg, #fff 50%, transparent 50%);
	background-image: -o-linear-gradient(10deg, #fff 50%, transparent 50%);
	background-image: linear-gradient(100deg, #fff 50%, transparent 50%);
	background-position: 0 100%;
	background-size: 300%;}
	to {	
		background-image: -webkit-linear-gradient(10deg, #fff 50%, transparent 50%);
		background-image: -o-linear-gradient(10deg, #fff 50%, transparent 50%);
		background-image: linear-gradient(100deg, #fff 50%, transparent 50%);
		background-position: 100% 0;
		background-size: 300%;}	
}




/*
* ====================== main projects section
*/
main {
	background-image: url('../images/IMG_934.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	flex: 3;
}
.scrolly-slide {
  margin: 0 auto;
  padding-left: 0;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 10;
}
.scrolly-slide>li {
	box-shadow: 10px 10px 30px #363636;
	display: block;
	width: 90%;
	margin: 2% auto 5%;
}
img {
	display: block;
	width: 100%;
}
.disabled-link {
	cursor: no-drop;
}
#about-me {
	background-image: url('../images/IMG_932.png');
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 1px;
}
.last-slide-about-me {
	display: flex;
	flex-direction: column;
  padding: 4em 6em 5em 4em;
	background-color: rgba(53, 46, 44,0.9);
	color: #f4e0bf;
	font-weight: 300;
}
.last-slide-about-me>h1 {
	color: #da9825;	
}
.li-contacts {
	color: #da9825;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: .5em;
	position: relative;
	left: -1.4em;
}
.contacts-and-links {
	display: inline-flex;
	flex-wrap: wrap;
	flex: 1;
}
.a-contacts:nth-of-type(1) {
	margin-right: 4em;
	margin-bottom: 1em;
}
.a-contacts li {
	margin-bottom: .2em;
}
.a-contacts a {
	text-decoration: none;
	color: #f4e0bf;
}
.a-contacts a:hover {
	text-decoration: underline;
	color: #f4e0bf;
}
.last-slide-about-me>p:last-child>a {
	color: #8c8c8c;
	text-decoration: none;
}
.icone-goTop {
	align-self: flex-end;
	align-content: flex-end;
}








