html,body {
	height: 100%;
}
body {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
img {
	display: block;
}


/* ==============================
*
*	main sectino 
*
* ============================ */
main {
/*	background-color: #19334d;*/
	background-image: url('../images/IMG_9251.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 60%;
	height: 100%;
}
.opacity-filter {
	width: 100%;
	height: 100%;
	background-color: rgba(36,36,36,0.9);	
}
.logo {
	width: 200px;
}
/*
* ============== header
*/
header {
	display: flex;
	flex-direction: row;
}
.contacts {
	display: flex;
	flex-direction: row;
	padding-left: 0;
	list-style: none;
}






/* ==============================
*
*	asdie section whit iframes
*
* ============================ */
aside {
/*	background-color: #264d73;*/
	background-color: #2a2a2a;
	box-shadow: 0 1px 90px #000 inset, 0 -1px 90px #000 inset, 0 1px 15px #ffff1a inset, 0 -1px 15px #ffff1a inset;
	width: 40%;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
}
aside>div {
	color: #afc;
	background-color: #000;
	width: 90%;
	min-height: 300px;
	margin: auto;
	margin-bottom: 5%;
}
aside>div:first-child {
	margin-top: 5%;
}
aside img {
	width: 100%;
}















