html,body {
	height: 100%;
}
body {
	background-color: #2a2a2a;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
img {
	display: block;
}


/* ==============================
*
*	main sectino 
*
* ============================ */
main {
/*	background-color: #19334d;*/
	background-image: url('../images/IMG_9251.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 60%;
	height: 100%;
}
.opacity-filter {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	background-color: rgba(36,36,36,0.9);	
}
header,
.footer {
	flex: 1 100%;
}
header {
	background-color: #000;
	display: flex;
	flex-direction: row;
	margin: 5% 0;
	justify-content: space-around;
	height: 10%;
}
.contacts {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	padding-left: 0;
	list-style: none;
}
.fa-envelope {
	border-radius: 50% 0 0 50%;
}
.fa-phone-square {
	border-radius: 0 50% 50% 0;	
}
.fa {
	background-color: rgba(200,200,0, 0.7);
	padding: 15px;
	margin-left: 1.2em;
}
.logo {
	width: 200px;
}

section {
	flex: 3;
	padding: 5%;
}
section>p {
	border-radius: 25px;
	border: 2px solid #fefefe;
	display: block;
	min-width: 60%;
	min-height: 25%;
	padding: 5%;
	color: #ccc;
}
sub,h2 {
	color: #444;
	padding-left: 5%;
}
nav {
	flex: 1;	
}
.btn-for-project {
	list-style: none;
	width: 10em;
}
.btn-for-project li {
	width: 8em;
	height: 3em;
}
.btn-for-project a {
	background-color: rgba(255, 255, 0, 1);
	color: #444;
	outline: yellow;
	padding: 5px 30px;
	text-decoration: none;
	line-height: 3em;
}

.footer {
	align-items: center;
	border-top: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 5%;
	position: relative;
	bottom: -11%;
}
.footer a {
	color: rgb(255,255,0);
	text-decoration: none;
}
.footer a:hover {
	color: rgb(200,200,0);
	text-decoration: underline;
}
.footer p {
	color: #ccc;
}


/* ==============================
*
*	asdie section whit iframes
*
* ============================ */
aside {
/*	background-color: #264d73;*/
/*	background-color: #2a2a2a;
*/background-color: #404040;
	box-shadow: 10px 0px 90px #000 inset, -1px 0px 90px #000 inset, 5px 0px 5px #ffff1a inset, -5px 0px 5px #ffff1a inset;
	width: 40%;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
}
aside>div {
	color: #afc;
	background-color: #ccc;
	border: 2px solid #000;
	width: 90%;
	min-height: 250px;
	margin: auto;
	margin-bottom: 5%;
}
aside>div:first-child {
	margin-top: 5%;
}
aside img {
	width: 100%;
}















