html,body {
	display: flex;
	flex-direction: row;
	height: 100%;
	padding: 0;
	margin: 0;
	position: relative;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #363636;
}




/*
*======================== header
*/
header {
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 10vh;
	z-index: 99;
}
.top-nav>ul {
	position: relative;
	left: 10em;
}
.contacts>ul {
	display: flex;
	flex-direction: row;
	position: relative;
	left: 10em;
	top: -3em;
}
.top-nav ul li {
	width: 11em;
	height: 3.3em;
	list-style: none;
}
.top-nav li>a {
	display: block;
	line-height: 3.3em;
	width: inherit;
	text-align: center;
	letter-spacing: 1px;
}
.contacts-list li:first-child {
	border-radius: 2em 0 0 2em;
}
.contacts-list li:last-child {
	border-radius: 0 2em 2em 0;
}
.contacts-list ul li {
	height: 2.5em;
	letter-spacing: 1px;
}
.nav-secondRow {
	padding-left: 1.8em;
}
.nav-secondRow li:first-child {
	margin-top: 1em;
}
li>.nav-secondRow {
	display: none;
}
li:hover>.nav-secondRow {
	background-color: rgba(38,38,38,1);
	display: flex;
	box-shadow: 0px 0px 15px #fff;
	flex-direction: column;
	width: 12em;
}
.contacts>ul>li {
	visibility: hidden;
}
.contacts:hover>ul>li {
	visibility: visible;
	color: #e6e6e6;
	background-color: rgba(38,38,38,1);
}
ul:hover li {
	visibility: visible;
}
.contacts:hover>ul>li>a {
	color: #e6e6e6;
}
li:hover>a {
	color: #e6e6e6;
	font-weight: bold;
}
.top-nav li:hover .navSecondRow {
	display: flex;
	flex-direction: column;
	z-index: 10;
}
.contacts:hover>a {
	color: #363636;
}





/*
* ====================== aside section
*/
aside {
	flex: 1;
	height: 100vh;
}
aside p:first-child {
	font-family: Impact, Georgia, Verdana, sans-serif;
	font-size: 1.4em;
	padding: .2em 0 0 2em;
	letter-spacing: 1px;
}
aside h1 {
	font-family: Monaco, "Helvetica Neue", "URW Chancery L", fantasy;
	font-size: 3.8em;
	text-align: center;
	margin: 40vh 0 35vh .5em;
}
aside h1>a {
	color: #000;
}
aside p:last-child {
	color: #808080;
	padding-left: .5em;
}



/*
* ====================== main projects section
*/
main {
	background-image: url('../images/IMG_934.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-attachment: fixed;
	flex: 4;
}
.scrolly-slide {
  margin: 0 auto;
  padding-left: 0;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
	z-index: 10;
}
.scrolly-slide>li {
	box-shadow: 10px 10px 30px #363636;
	display: block;
	width: 90%;
	margin: 2% auto 5%;
}
img {
	display: block;
	width: 100%;
}
.disabled-link {
	cursor: no-drop;
}
#about-me {
	background-image: url('../images/IMG_932.png');
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 1px;
}
.last-slide-about-me {
  padding: 4em 8em 12em 4em;
	background-color: rgba(53, 46, 44,0.9);
	color: #f4e0bf;
}
.last-slide-about-me>h1,
.last-slide-about-me>h2 {
	color: #da9825;
}
.last-slide-about-me>p:last-child {
  position: relative;
  bottom: -10em;
  left: 41em;
}
.last-slide-about-me>p:last-child>a {
	color: #8c8c8c;	
}








