html,body {
	height: 100%;
}
body {
	background-color: #2a2a2a;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}
img {
	display: block;
}


/* ==============================
*
*	main sectino 
*
* ============================ */
main {
	align-items: center;
	background-image: url('../images/IMG_9251.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 60%;
	height: 100%;
}
.opacity-filter {
	background-color: rgba(36,36,36,0.9);	
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100%;
}
header,
.footer {
	flex: 1 100%;
}
header {
	background-color: #000;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 5% 0;
	padding-bottom: 6px;
	height: 10%;
}
.contacts {
	cursor: pointer;
	display: flex;
	flex-direction: row;
	list-style: none;
}
.fa {
	background-color: rgba(200,200,0, 0.3);
	padding: 8px;
	margin-left: .2em;
}
.fa:hover {
	box-shadow: 0 0 5px rgb(255,255,0);
}
.fa-envelope {
	border-radius: 50% 0 0 50%;
	padding-left: 15px;
	color: #d24b26;
}
.fa-phone-square {
	border-radius: 0 50% 50% 0;
	color: #009900;
	padding-right: 15px;
}
.fa-linkedin {
	color: #265885;
}
.fa-github-square,
.fa-codepen {
	color: #000;
}
.logo {
	width: 200px;
}


section {
	flex: 3;
	padding: 5%;
	align-self: flex-end;
}
section>p {
	border-radius: 25px;
	border: 2px solid #fefefe;
	display: block;
	min-width: 60%;
	min-height: 25%;
	padding: 5%;
	color: #ccc;
}
sub,h2 {
	color: #444;
	padding-left: 5%;
}
nav {
	flex: 1;	
}
.btn-for-project {
	list-style: none;
	width: 10em;
}
.btn-for-project li {
	margin: 8%;
	width: 8em;
	height: 2em;
	text-align: center;
}
.btn-for-project a {
	background-color: rgba(255, 255, 0, 1);
	color: #444;
	display: block;
	line-height: 2em;
	outline: yellow;
	text-decoration: none;
	width: inherit;
	height: inherit;
}
.btn-for-project a:hover {
	box-shadow: 0 0 5px rgb(255,255,0);
}

.footer {
	align-items: center;
	border-top: 1px solid #ccc;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	height: 5%;
	position: relative;
	bottom: -11%;
}
.footer a {
	color: #363636;
	text-decoration: none;
}
/* =================== disabled temporarily
.footer a {
	color: rgb(255,255,0);
	text-decoration: none;
}
.footer a:hover {
	color: rgb(200,200,0);
	text-decoration: underline;
}*/
.footer p {
	color: #ccc;
}


/* ==============================
*
*	asdie section whit iframes
*
* ============================ */
aside {
	background-color: #000;
	width: 40%;
	height: 100vh;
	overflow: hidden;
	overflow-y: scroll;
}
aside>div {
	color: #afc;
	background-color: #ccc;
	border: 2px solid #000;
	box-shadow: 0px 0px 20px #abc;
	width: 90%;
	min-height: 250px;
	margin: auto;
	margin-bottom: 5%;
}
aside>div:first-child {
	margin-top: 5%;
}
aside img {
	width: 100%;
}















